html{
  background-image: url(images/bg1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #7f7974;
  text-align: left;
  line-height: 150%;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

body{
  overflow-x: hidden;
  padding: 2rem;
  margin: 0;
}

p{
  color: white;
  font-size: 1.2rem;
}

li{
  color: white;
}

a.silly{
  /* font-family: 'Rubik Beastly', cursive; */
  /* color: floralwhite; */
  text-decoration: none;
  /* font-size: 3rem; */
  transition: 1s all;
  /* animation: 1s shrinkdown; */
}

a.silly:hover, a.silly:focus {
  /* font-size: .5rem; */
  /* font-kerning: 10rem; */
  /* font-family: cursive; */
  color: white;
  /* text-decoration: underline; */
  transition: 1s all;
}

ul{
font-size: 1.2rem;
list-style-type: none;
margin: 0;
align-content: left;
padding-left: 0;
}

header{
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  /* padding: 2rem; */
  /* background-color: white; */

  /* flex: auto; */
/* position: fixed; */
/* top: 2rem; */
/* right: 4rem; */

}

.name{
  /* background-color: pink; */
  width: 30%;
}

.workmenu{
  /* background-color: blue; */
  width: 30%;
}

.infomenu{
  width: 30%;
  /* background-color:red; */
}


a{
  color: inherit;
  text-decoration: none;
  /* font-size: 1em; */
  /* transition: 1s all; */
}


a.headerlink:hover{
  color: yellow;
}

a.headerlink:active{
  color: yellow;
}

.showreel{
  position: fixed;
  bottom: .5rem;
  /* height: auto; */
  /* background-color: pink; */
}

.infotext{
  width: 60%;
}


/* @font-face {
    font-family: 'apfel_grotezkbrukt';
    src: url('apfelgrotezk-brukt-webfont.woff2') format('woff2'),
         url('apfelgrotezk-brukt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apfel_grotezkfett';
    src: url('apfelgrotezk-fett-webfont.woff2') format('woff2'),
         url('apfelgrotezk-fett-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apfel_grotezkregular';
    src: url('apfelgrotezk-regular-webfont.woff2') format('woff2'),
         url('apfelgrotezk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

.portrait{
  opacity: 0;
  background-color: #1f1f1f;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -99;
  top:0;
  left: 0;
}



  @media (max-width: 500px){
    html{}

      .portrait{
        opacity: 90%;
        z-index: 99;

      }

.turn{
text-align: center;
margin-top: 50%;
}

    }






  }
